:root {
  --card-bg-color: #1a1a1a;
  --card-box-shadow: 0px 0px 5px #444444;
  --card1-box-shadow: var(--card-box-shadow);
  --card1-bg-color: #2c2c2c;
  --body-bg-color: #111;
  --headings-text-shadow: 2px 2px 2px #464646;
  --headings-color: #486AD4;
  --headings-color-1: #54A6F6;
  --table-color: #aaa;
  --table-bg-color: #3f3f3f;
  --table-border: 1px solid #5E5CEB;
  --logo-box-shadow: 0px 0px 10px #aaa;
  --logo-border: 1px solid #aaa;
  --logo-bg-color: #bbb;
  --section-hover-bg-color: #272727;
  --section-hover-border: 1px solid #9aceb5;
}